<div>
  <nav class="navbar navbar-header navbar-header-fixed">
    <a class="navbar-brand" href="#">&nbsp;&nbsp;Cardano</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
      </ul>
    </div>
  </nav>
  <div class="content-fixed container" style="margin-top: 70px;" *ngIf="pools?.length > 0">
    <div *ngIf="pools?.length > 0">
      <div *ngFor="let pool of pools | slice: (page-1) * pageSize : page * pageSize; let i = index">
        <ngb-accordion #acc="ngbAccordion" type="light" class="range-accordion" (panelChange)="accordianClick($event)">
          <ngb-panel id="{{pool.poolId}}">
            <ng-template ngbPanelTitle>
              <div class="d-flex justify-content-between">
                <div class="d-flex"><i class="icon-arrow-down"></i></div>
                <div class="d-flex" style="font-weight: bold; color: #1c2128; margin-left: 1em;">
                  {{pool.poolId}}</div>
              </div>
            </ng-template>
            <ng-template ngbPanelContent>
              <div class="wrapper">
                <div class="header">
                  <div class=" column column-name">
                    <div class="d-flex align-items-center justify-content-between mg-b-5">
                      <h6 class="tx-uppercase tx-10 tx-spacing-1 tx-color-02 tx-semibold mg-b-0">Pool name
                      </h6>
                    </div>
                    <div class=" d-flex align-items-end justify-content-start mg-b-5">
                      <h5 class=" tx-normal tx-rubik lh-2 mg-b-0 text-truncate">{{pool.poolMeta.name}}</h5>
                    </div>
                  </div>
                  <div class=" column column-policy-id">
                    <div class=" column column-name">
                      <div class=" d-flex align-items-center justify-content-end mg-b-5">
                        <h6 class=" tx-uppercase tx-10 tx-spacing-1 tx-color-02 tx-semibold mg-b-0">ticker
                        </h6>
                      </div>
                      <div class=" d-flex align-items-end justify-content-end mg-b-5">
                        <h5 class=" tx-normal tx-rubik lh-2 mg-b-0 text-truncate">{{pool.poolMeta.ticker}}</h5>
                      </div>
                    </div>
                  </div>
                </div>
                <div class=" header">
                  <div class=" column column-policy-id">
                    <div class=" d-flex align-items-center justify-content-between mg-b-5">
                      <h6 class=" tx-uppercase tx-10 tx-spacing-1 tx-color-02 tx-semibold mg-b-0">Pool ID
                      </h6>
                    </div>
                    <div class=" d-flex align-items-end justify-content-between mg-b-5">
                      <h5 class=" tx-normal tx-rubik lh-2 mg-b-0 text-truncate">
                        {{pool.poolMeta.pool_id}}</h5>
                    </div>
                  </div>
                </div>
              </div>
              <div class="spinner-container" *ngIf="isPanelBusy">
                <div class="spinner-border">
                  <span class="sr-only"></span>
                </div>
              </div>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </div>
    </div>

    <ngb-pagination (pageChange)="onPageChanged($event)" *ngIf="pools?.length > 0" [(page)]="page" [pageSize]="pageSize"
      [collectionSize]="100">
    </ngb-pagination>

  </div>

  <div class="spinner-container" *ngIf="isBusy">
    <div class="spinner-border">
      <span class="sr-only"></span>
    </div>
  </div>

  <footer class="footer d-flex align-items-end">
    <div class="d-flex flex-column" style="height:70px">
      <p class="text-xs-center">© Copyright 2019. All rights reserved.</p>
    </div>
  </footer>
</div>